html, body{
    margin: 0;
    padding: 0;
}

/* flex container */
body{
    display: flex;
}

/* flex items */
div{
    /* formatting */
    height: 100px;
    border: 2px solid black;
    flex-basis: 200px;
}

.d1{
    flex-shrink: 1;
    flex-grow: 1;
}

.d2{
    flex-shrink: 8;
    flex-grow: 8;
}

/* The three divs want to be 200px wide each.
   If the flex container is wider than 600px flex-grow kicks in
   and if it is lesser than 600px, flex-shrink kicks in. */