#one{
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
}

#two{
    font-family: "Roboto" , sans-serif;
    font-weight: 100;
}

#three{
    font-family: "Roboto" , sans-serif;
    font-weight: 900;
}