body{
    display: flex;
    border: 5px solid red;
    flex-flow: column-reverse wrap;
    height: 600px;
/*    align-items: stretch;*/
}

div{
    flex-grow: 1;
    border: 1px solid red;
    background-color: darkgray;
    margin: 1em;
    width: 200px;
    height: 100px;
    text-align: center;
}