div{
    width:400px;
    height:400px;
    border:1px solid red;
    border-radius:100%;
    display:inline-block;
}

img{
    border: 10px groove cornflowerblue;
    border-radius:100%;
    padding:20px;
    margin:40px;
}

.d2{
    border: 10px dashed burlywood;
}

.d3{
    border: 10px dotted chartreuse;
}

.d4{
    border: 10px double aquamarine;
}

.d5{
    border: 10px inset cadetblue;
}